.DS_Store
~*

/tests/acceptance/node_modules
*.swap

/tests/acceptance/package-lock.json
/tests/acceptance/userstory_test.js
/tests/acceptance/output/*


node_modules
/dist
/build
/external

/electron/node_modules
/electron/dist
/electron/build
/electron/external

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
electron/npm-debug.log*
electron/yarn-debug.log*
electron/yarn-error.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/live/
electron/qcwarehouse_a-v0.1.0.tgz
