@import "normalize";
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: SourceHanSansCN, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url("../src/assets/font/SourceHanSansCN-Normal.otf");
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式

.el-card__body {
  padding: 20px !important;
}

.app-main {
  min-height: 93vh;
  max-height: 93vh;
  // margin: 10px;
  position: relative;

  .list {
    min-height: 94vh;
    max-height: 94vh;
  }
}

.app-container {
  padding: 20px;
}


._search {
  width: 90%;
  margin: 0 auto;
  background: #F2F2F2;
  padding-top: 22px;
}

._list {
  width: 90% !important;
  margin: 2% auto;
}

._button-container {
  text-align: right;
  margin-right: 5%;
}

._remote-tip {
  color: #FF0000;
}

._w {
  width: 90%;
  margin: 2% auto;
}

._buttons {
  position: absolute;
  right: 0;

  .el-input__inner {
    border-radius: 19px;
  }
}

._buttonsLeft {
  .el-input__inner {
    border-radius: 19px;
  }
}


._dialogDiv {
  text-align: center;
  font-size: 18px;
}

._contentBt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
}

._textBt {
  font-size: 16px !important;
  margin: 0 16px !important;

  span {
    vertical-align: top !important;
  }
}
._info_textBt {
  font-size: 16px !important;
  margin-left: 39px !important;

  span {
    vertical-align: top !important;
    color: #707070;
  }
}


._card-title {
  color: #707070;
  font-size: 20px;
}

._box-bottom {
  @include center;
  width: 100%;
  margin: 1% 0 0 0;
}

._button {
  @include center;
  width: 100%;
  margin: 3% 0 0 0;
}