@import "normalize";
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';


//@font-face
//{
//  font-family: myFirstFont;
//  src: url('../font/PINGFANG.TTF')
//}


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式


.app-main {
  min-height: 84vh;
  max-height: 84vh;
  margin: 2%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  position: relative;
  .list{
    max-height: 84vh;
  }
}

.app-container {
  padding: 20px;
}


._search {
  width: 90%;
  margin: 0 auto;
  background: #F2F2F2;
  padding-top: 22px;
}

._list {
  width: 90% !important;
  margin: 2% auto;
}

._button-container {
  text-align: right;
  margin-right: 5%;
}

._remote-tip {
  color: #FF0000;
}

._w {
  width: 90%;
  margin: 2% auto;
}
._buttons{
  width: 86%;
  display: flex;
  justify-content: flex-end;
}

._dialogDiv{
  text-align: center;
  font-size: 18px;
}