#app {
  // 主体区域
  .main-container {
    height: 5.3125rem;  /* 1020/192 */
    float: right;
    width: 87%;
    transition: 0.28s width;
    position: relative;
    //transition: margin-left .28s;
    //margin-left: 1.1719rem;
  }

  // 侧边栏
   .sidebar-container {
    float: left;
    transition: width 0.28s;
    //width: 1.1719rem !important;
    width: 13% !important;
    height: 100%;
    z-index: 1001;
    overflow: hidden;
    border: 1px solid rgba(112, 112, 112, 0.24);
    font-size: 18px;

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      height: calc(100% + 0.0781rem);
      .el-scrollbar__view {
        height: 100%;

        .submenu-title-noDropdown {
          padding-left: 0.1042rem !important;
        }

        .collapse {
          .el-submenu__title {
            font-size: 18px;
            background-color: white !important;
            padding-left: 0.1042rem !important;
          }
        }


        .el-menu .el-menu--inline {
          background-color: white !important;
          .el-menu-item {
            font-size: 16px;
            padding-left: 0.2083rem !important;
          }
        }

      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 0.0417rem;
      font-size: 0.125rem;
      color: rgb(47, 47, 118);
    }

    .el-menu { // 左侧导航栏
      border: none;
      max-height: 72vh;
      width: 100% !important;
    }

    .topTitle {
      height: 92px;
      background: rgb(47, 47, 118);
      color: white !important;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        vertical-align: middle;
        cursor: pointer;
      }
    }

    .topInfo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      height: 1.0458rem;
      border-bottom: 1px solid rgba(112, 112, 112, 0.24);
      font-size: 0.0833rem;
      color: #707070;
      text-align: center;
      background: $menuBg;


      img {
        width: 0.4792rem;
        height: 0.4792rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.05rem;
      }

      .info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        span {
          margin-bottom: 0.026rem;
          font-size: 20px;
        }
      }

    }


  }


  .hideSidebar {
    .sidebar-container {
      width: 0.1875rem !important;

    }

    .main-container {
      //margin-left: 0.1875rem;
      width: 98%;
    }


    .submenu-title-noDropdown {
      padding-left: 0.0521rem !important;
      position: relative;

      .el-tooltip {
        padding: 0 0.026rem !important;
      }
    }

    .el-submenu {
      overflow: hidden;


      & > .el-submenu__title {
        padding-left: 0.026rem !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      padding-left: 0 !important;

      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }


  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 0.9375rem !important;
    background-color: $subMenuBg !important;

    &:hover {
      background-color: $menuHover !important;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 0.9375rem !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      //width: 180px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
